.container {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-default .navbar-nav > .active > span {
	background-color: #28415b;
}

.navbar-nav span[role=button] {
	display: inline-block;
	line-height: 20px;
}

#menu {
	background-color: #375a7f;
	border-radius: 0;
	border: 0;
	margin-bottom:0;
}

a#login {
	position: relative;
	font-size: 15px;
	left: -7px;
	color: white;
}

#link {
	color: #ffffff;
	padding: 15px;
	display: inline-block;
	text-decoration: none;
}

#navItem {
	font-size: 15px;
	margin: 0px;
}

#navItem:hover {
	background-color: #28415b;
}


#iconHome{
	color: #ffffff;
	font-size: 16px;
}

#iconHome:hover {
	color: #66CDAA;
	text-decoration: none;
}
